.comment-container {
    margin-bottom: .5rem;
    border-bottom: 3px solid var(--clr-primary-300);
    background-color: var(--clr-secondary-100);
}

.comment-body {
    font-size: var(--fs-400);
    padding: .5rem;
    
}

.comment-head {
    margin-left: .25rem;
    font-size: var(--fs-300);
    border-bottom: 1px solid var(--clr-primary-300);
}

.comment-user {
    font-weight: bold;
}

.comment-action {
    margin: .5rem;
    border-radius: .5rem;
    padding-left: .25rem;
    padding-right: .25rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    color: var(--clr-primary-800);
    background-color: var(--clr-secondary-500);
    font-weight: bold;
      
}